/12_EjemploArrayPersona/target/
/13_Ventana/target/
/Ejemplos/target/
/14_Ventana/target/
/15_Ventana/target/
/Ventana/target/
/14_EjemploSerializacion/target/
/mavenproject1/target/
/Ventana1/nbproject/private/
/Ventana1/build/
/15_Libreria/nbproject/private/
/15_Libreria/build/
/MaquinaDeVenta/nbproject/private/
/MaquinaDeVenta/build/
/ProyectoExamen/nbproject/private/
/ProyectoExamen/build/
/Cine/nbproject/private/
/proyectoexamen1/nbproject/private/
/proyectoexamen1/build/
/proyectoexamen/nbproject/private/
/proyectoexamen/build/
/ProyectTaquilla - copia/Taquilla/build/
/ProyectTaquilla - copia/Taquilla/nbproject/private/
/ProyectTaquilla/Taquilla/build/
/ProyectTaquilla/Taquilla/nbproject/private/
/Taquilla 2/Cine/Taquilla/build/
/Taquilla 2/Cine/Taquilla/nbproject/private/
/Taquilla/Cine/Taquilla/build/
/Taquilla/Cine/Taquilla/nbproject/private/
/Caseta/nbproject/private/
/Caseta/build/
/Caseta2/nbproject/private/
/Caseta2/build/
/Caseta3/nbproject/private/
/Caseta3/build/
/Caseta3/dist/
/18.-EjemplodeHilos/nbproject/private/
/18.-EjemplodeHilos/build/
/18.-EjemploHilos1/target/
/19.-CajeroHilos/target/
